/* Intended to be used with colors.css */
:root {
    --pad0: 2px;
    --pad1: 3px;
    --pad2: 5px;
    --pad3: 10px;
    --pad4: 15px;
    --brad1: 5px;
    --brad2: 10px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120%;
    color: var(--gray7);
    background-color: var(--gray1);
    border-radius: var(--brad2);
    overflow-wrap: anywhere;
    margin: auto;
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 135%;
    }
}
@media only screen and (min-width: 992px) {
    body {
        font-size: 150%;
    }
}

h1 {
    font-family: inherit;
    font-size: 200%;
    text-align: center;
    background-color: var(--gray0);
    border-radius: var(--brad2);
    padding: 0 1%;
}

h2 {
    font-size: 150%;
}

div {
    padding: 0% 1%;
    margin: 1%;
}

span {
    padding: var(--pad2);
    border-radius: var(--brad1);
}

/* hyperlinks */
a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--gray4);
}

/* certain hyperlinks look like buttons, ish */
.link-button {
    font-weight: bold;
    padding: var(--pad1);
    background-color: var(--gray2);
    border-radius: var(--brad1);
    border-width: var(--pad1);
    cursor: pointer;
}
.link-button:hover {
    filter: brightness(80%);
    color: var(--gray7);
}


/* buttons */
button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--gray2);
    border-style: solid;
    border-radius: var(--brad2);
    border-width: var(--pad1);
    cursor: pointer;
}
button:hover {
    filter: brightness(80%);
}

/* filter buttons */
.filters-con {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--pad2);
    gap: var(--pad1);
}
@media only screen and (min-width: 600px) {
    .filters-con {
        gap: var(--pad2);
    }
}
.filters-in {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: var(--gray4);
    min-height: 2.25em;
}
.filters-in:after {
    content: '✕';
    font-weight: bold;
    margin-left: var(--pad3);
}
.filters-out {
    background-color: var(--gray0);
    border-color: var(--gray0);
    min-height: 2.25em;
}

#filtersKDIN-in {
    background-image: linear-gradient(to right, var(--orange3) 33%, var(--palette2) 67%);
}
#filtersKDIN-out {
    background-image: linear-gradient(to right, var(--lorange3) 33%, var(--lpalette2) 67%);
}
#filtersJLUN-in {
    background-image: linear-gradient(to right, var(--orange2) 20%, var(--palette4) 40% 60%, var(--palette3) 80%);
}
#filtersJLUN-out {
    background-image: linear-gradient(to right, var(--lorange2) 20%, var(--lpalette4) 40% 60%, var(--lpalette3) 80%);
}

/* other buttons */
#input-button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--gray2);
    border-color: var(--gray4);
    border-radius: var(--brad1);
    border-width: var(--pad1);
}
#input-button:hover {
    cursor: pointer;
    filter: brightness(80%);
}
#back-button {
    background-color: var(--gray2);
    border-color: var(--gray4);
}

/* Search Result Containers */
.result-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--pad4);
}
.details-result-con {
    background-color: var(--gray0);
    padding: 1% 2%;
    border-radius: var(--brad2);
}
.result-item {
    margin: var(--pad2);
    padding: 0px var(--pad4);
    border-radius: var(--brad2);
    background-color: var(--gray0);
}
.result-item-details-con {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pad3);
}

/* Search Input */
.input-con {
    display: flex;
    flex-wrap: wrap;
    padding: var(--pad2);
    gap: var(--pad3);
}
#input-search {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    flex-grow: 1;
    padding: var(--pad2);
    border-radius: var(--brad1);
    border-width: var(--pad1);
}
@media (min-width: 992px) {
    #input-search {
        width: 50%; /* grows with flex */
    } 
}