/* Intended to be used with colors.css */
/* CSS file for home.html */
body {
    background-color: var(--gray1);
    border-radius: 8px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: x-large;
}

h1 {
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
}

h2 {
    font-size: 150%;
}

div {
    padding: 0% 1%;
    margin: 1%;
}

p.spacer {
    padding-top: 2px;
    padding-bottom: 2px;
}

span {
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

/* hyperlinks */
a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--gray4);
}

/* buttons */
#back-button {
    border-radius: 8px;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--gray2);
    cursor: pointer;
}
#back-button:hover {
    background-color: var(--gray3);
}

/* Search Result Containers */
.result-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.result-item {
    margin: 5px;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: white;
}
.result-item-details-con {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.details-con {
    background-color: white;
    padding: 1% 2%;
    border-radius: 8px;
}

/* Search Input */

.input-con {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#input {
    padding: 1%;
    border-radius: 5px;
    display: flex;
    width: 50%; /* default width, grows with flex */
    flex-grow: 1;
    font-family: 'Lucida Sans', sans-serif;
    font-size: large;
}

#input_button {
    border-radius: 5px;
    font-family: 'Lucida Sans', sans-serif;
    font-size: large;
}
