:root {
    --gray0: #fff;
    --gray1: #e5e5e5;
    --gray2: #ccc;
    --gray3: #a0a0a0;
    --gray4: #808080;
    --gray5: #555;
    --gray6: #333;
    --gray7: #000;
    --lgreen1: #e4f1ec;
    --lgreen2:  #ade0cc;
    --lgreen3: #28dd92;
    --orange1: rgb(253, 241, 188);
    --orange2: #fccc96;
    --orange3:  rgb(247, 136, 121);
    /* Pastel Constrasting Palette 2 from Vengage
    https://venngage.com/tools/accessible-color-palette-generator */
    --palette1: #f194b8;
    --palette2:  #f8b8d0;
    --palette3: #b3c7f7;
    --palette4: #cfebb6;
    --palette5: #b9e192;

    /* lighter colors, by 33% */
    --llgreen1: #f6faf9;
    --llgreen2:  #e4f5ee;
    --llgreen3: #b8f4db;
    --lorange1: #fefae9;
    --lorange2: #feeedc;
    --lorange3:  #fcd8d3;
    --lpalette1: #fadce8;
    --lpalette2:  #fde8f0;
    --lpalette3: #e6edfc;
    --lpalette4: #eff8e7;
    --lpalette5: #e8f5db;
}