<!DOCTYPE html>
<html>

<head>
    <title>Details - Menu Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colors.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>
    <!-- title -->
    <div>
        <h1><a href="{{ url_for('home') }}"> Menu Tracker </a></h1>
    </div>

    <!-- back button -->
    <div>
        <button id="back-button" onclick="goBack()"> Back to Search </button>
        <script> 
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

    <!-- header and back button -->
    <div>
        <h2 color="var(--gray)"> {{ search }} Details </h2>
        <!-- colors for labels -->
        {% set result_item_colors = {'Breakfast': 'orange1', 'Lunch': 'orange2', 'Dinner': 'orange3', 
        'Kins': 'palette2', 'J2': 'palette4', 'JCL': 'palette3', 'Today': 'lgreen3', 'Tomorrow': 'lgreen2'} %}
        {% set filters_names = ['All Time', 'Breakfast', 'Lunch', 'Dinner', 'Kins', 'J2', 'JCL'] %}

        <!-- filter buttons -->
        <p> Filters </p>
        {% for i in range(1, 7) %}
            <form method="GET">
                <input type="hidden" name="search" value="{{ search }}">
                <input type="hidden" name="filters" value="{{ filters }}">
                <button type="submit" name="filters{{ i }}" style="background-color: 
                var(--{{ result_item_colors.get(filters_names[i]) }})"> {{ filters_names[i] }} </button>
                <!-- TODO change color to gray3 if toggled off -->
            </form>
        {% endfor %}
    </div>

    <!-- details search results -->
    <div class="details-con">
        {% set time_colors = {'Breakfast': 'orange1', 'Lunch': 'orange2', 'Dinner': 'orange3'} %}
        {% set loc_colors = {'Kins': 'palette2', 'J2': 'palette4', 'JCL': 'palette3'} %}
        {% for entry in menu %}
            <p class="result-item-details-con">
                <span style="background-color: var(--lgreen1)"> {{ entry[1] }} </span> 
                <span style="background-color: var(--{{ time_colors.get(entry[2]) }})"> {{ entry[2] }} </span> 
                <span style="background-color: var(--{{ loc_colors.get(entry[3]) }})"> {{ entry[3] }} </span> 
            </p>
        {% endfor %}
        </div>
    </div>

    <!-- additional information -->
    <div>
        <p> Menu Tracker searches the availability of food from UT Austin dining halls. 
            You can view the code <a href="https://github.com/iyim4/menu-tracker"><strong>here</strong></a> (currently private repo) </p>
    </div>
</body>

</html>
