<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details - UT Menu Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colors.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- title -->
    <div>
        <h1><a href="{{ url_for('home') }}"> UT Menu Tracker </a></h1>
    </div>

    <!-- back button -->
    <div>
        {% if filters is not defined %}
            <button id="back-button" onclick="goBack()"> Back to Search </button>
            <script> 
                function goBack() {
                    window.history.back();
                }
            </script>
        {% else %}
            <button id="back-button" onclick="window.location.href='{{ url_for('home') }}'"> 
                Back to Search </button>
        {% endif %}
    </div>

    <!-- header -->
    {# for coloring buttons #}
    {% set result_item_colors = {'Breakfast': 'orange1', 'Lunch': 'orange2', 'Dinner': 'orange3',
     'Kins': 'palette2', 'J2': 'palette4', 'JCL': 'palette3', today_str: 'lgreen3', 
     tmr_str: 'lgreen2', 'All Time': 'lgreen1'} %}
    {% set filters_names = ['All Time', 'Breakfast', 'Lunch', 'Dinner', 'Kins', 'J2', 'JCL'] %}
    
    <div>
        <h2> {{ search }} Details </h2>

        <!-- filter buttons -->
        <div class="filters-con"> 
            <span> Filters </span>
            {% for i in range(0, 7) %}
                <form method="GET">
                    <input type="hidden" name="search" value="{{ search }}">
                    <input type="hidden" name="filters" value="{{ filters }}">

                    {% if filters is defined %}
                        {% if filters[i] == '0' %}
                            {# filter out results #}
                            <button type="submit" name="filters{{ i }}" class="filters-out"
                                style="background-color: var(--l{{ result_item_colors.get(filters_names[i]) }})">
                                {{ filters_names[i] }} </button>
                        {% else %}
                            <button type="submit" name="filters{{ i }}" class="filters-in" 
                                style="background-color: var(--{{ result_item_colors.get(filters_names[i]) }})">
                                {{ filters_names[i] }} </button>
                        {% endif %}
                    {% else %}
                        {# default case 'All Time' is off #}
                        {% if i == 0 %}
                            <button type="submit" name="filters{{ i }}" class="filters-out"
                                style="background-color: var(--l{{ result_item_colors.get(filters_names[i]) }})">
                                {{ filters_names[i] }} </button>
                        {% else %}
                            <button type="submit" name="filters{{ i }}" class="filters-in" 
                                style="background-color: var(--{{ result_item_colors.get(filters_names[i]) }})">
                                {{ filters_names[i] }} </button>
                        {% endif %}
                    {% endif %}
                </form>
            {% endfor %}
        </div>
    </div>

    <!-- details search results -->
    <div>
        <div class="details-result-con">
            {% if not menu|length == 0 %}
                {% for entry in menu %}
                    <p class="result-item-details-con">
                        <span style="background-color: var(--{{ result_item_colors.get(entry[0], 'lgreen1') }})"> {{ entry[0] }} </span> 
                        <span style="background-color: var(--{{ result_item_colors.get(entry[1]) }})"> {{ entry[1] }} </span> 
                        <span style="background-color: var(--{{ result_item_colors.get(entry[2]) }})"> {{ entry[2] }} </span> 
                    </p>
                {% endfor %}
                </div>
            {% else %}
                <p style="font-weight: bold;"> No results found </p>
            {% endif %}
        </div>
    </div>

    <!-- footer -->
    <div style="padding-top: 2%;">
        <p> Menu Tracker is a web app that displays the upcoming availabilities of foods from UT
            Austin Dining Halls and offers multiple filters to refine results. 
            <a href="{{ url_for('about')}}" class="link-button"> About</a> </p>
    </div>
</body>

</html>
