<!DOCTYPE html>
<html>

<head>
    <title>Home - Menu Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colors.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>
    <!-- title -->
    <div>
        <h1><a href="{{ url_for('home') }}"> Menu Tracker</a></h1>
    </div>

    <!-- search bar -->
    <div>
        <h2>Search</h2>
        <form class="input-con" method="GET">
            <input type="text" id="input" name="search" required>
            <input type="submit" id="input-button" value="Search">
        </form>
    </div>

    <!-- Search Results -->
    <div>
        {% if search is none %}
            <h2> Enter the name of a food in the search bar </h2>
        {% else %}
            <!-- colors for labels -->
            {% set result_item_colors = {'Breakfast': 'orange1', 'Lunch': 'orange2', 'Dinner': 'orange3', 
            'Kins': 'palette2', 'J2': 'palette4', 'JCL': 'palette3', 'Today': 'lgreen3', 'Tomorrow': 'lgreen2'} %}
            {% set filters_names = ['All Time', 'Breakfast', 'Lunch', 'Dinner', 'Kins', 'J2', 'JCL'] %}

            <h2> Results for {{ search }} </h2>

            <!-- filter buttons -->
            <p> Filters </p>
            {% for i in range(1, 7) %}
                <form method="GET">
                    <input type="hidden" name="search" value="{{ search }}">
                    <input type="hidden" name="filters" value="{{ filters }}">
                    <button type="submit" name="filters{{ i }}" style="background-color: 
                    var(--{{ result_item_colors.get(filters_names[i]) }})"> {{ filters_names[i] }} </button>
                    <!-- TODO change color to gray3 if toggled off -->
                </form>
            {% endfor %}

            <!-- searh results -->
            {% if not menu|length == 0 %}
                <p margin-bottom="5px">Click food name for details</p>
                <div class="result-con">
                        {% for entry in menu %}
                            {% if loop.first or entry[0] != menu[loop.index0 - 1][0] %}
                                {% if not loop.first %}</div>{% endif %}
                                <div class="result-item">
                                    <p><span style="font-weight: bold;"><a href="{{ url_for('details', search=entry[0]) }}"> {{ entry[0] }} </a></span></p>
                            {% endif %}
                            <p class="result-item-details-con">
                                <span style="background-color: var(--{{ result_item_colors.get(entry[1], 'lgreen1') }})"> {{ entry[1] }} </span> 
                                <span style="background-color: var(--{{ result_item_colors.get(entry[2]) }})"> {{ entry[2] }} </span> 
                                <span style="background-color: var(--{{ result_item_colors.get(entry[3]) }})"> {{ entry[3] }} </span> 
                            </p>
                        {% endfor %}
                        </div>
                </div>
            {% else %}
                <p style="font-weight: bold;"> No results found </p>
            {% endif %}
        {% endif %}
    </div>

    <!-- additional information -->
    <div style="padding-top: 2%;">
        <p> Menu Tracker searches the availability of food from UT Austin dining halls. 
            You can view the code <a href="https://github.com/iyim4/menu-tracker"><strong>here</strong></a> (currently private repo) </p>
    </div>
</body>

</html>
