<!DOCTYPE html>
<html>

<head>
    <title>Home - Menu Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colors.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- title -->
    <div>
        <h1><a href="{{ url_for('home') }}"> Menu Tracker</a></h1>
    </div>

    <!-- search bar -->
    <div>
        <h2>Search</h2>
        <form class="input-con" method="GET">
            <input type="text" id="input-search" name="search" required>
            <input type="submit" id="input-button" value="Search">
            <input type="hidden" name="filters" value="{{ filters }}">
        </form>
    </div>

    <!-- Search Results -->
    <div>
        {% if search is none %}
            <h2> Enter the name of a food in the search bar </h2>
        {% else %}
            {# colors for labels #}
            {% set result_item_colors = {'Breakfast': 'orange1', 'Lunch': 'orange2', 
            'Dinner': 'orange3', 'Kins': 'palette2', 'J2': 'palette4', 
            'JCL': 'palette3', 'Today': 'lgreen3', 'Tomorrow': 'lgreen2'} %}

            {% set filters_names = ['All Time', 'Breakfast', 'Lunch', 'Dinner',
             'Kins', 'J2', 'JCL'] %}

            <h2> Results for {{ search }} </h2>

            <!-- filter buttons -->
            <div class="filters-con"> 
                <span> Filters </span>
                {% for i in range(1, 7) %}
                    <form method="GET">
                        <input type="hidden" name="search" value="{{ search }}">
                        <input type="hidden" name="filters" value="{{ filters }}">
                        {% if filters is defined and filters[i] == '0' %}
                            {# filter out results #}
                            <button type="submit" name="filters{{ i }}" class="filters-out"
                                style="background-color: var(--l{{ result_item_colors.get(filters_names[i]) }})">
                                {{ filters_names[i] }} </button>
                        {% else %}
                            <button type="submit" name="filters{{ i }}" class="filters-in" 
                                style="background-color: var(--{{ result_item_colors.get(filters_names[i]) }})">
                                {{ filters_names[i] }} </button>
                        {% endif %}
                    </form>
                {% endfor %}

                <!-- special filters -->
                <form method="GET">
                    <input type="hidden" name="search" value="{{ search }}">
                    <input type="hidden" name="filters" value="{{ filters }}">
                    {% if filters is defined and filters == '0001100' %}
                        <button type="submit" name="filtersKDIN" id="filtersKDIN-in" class="filters-in" value="1"> K-Dinner </button>
                    {% else %}
                        <button type="submit" name="filtersKDIN" id="filtersKDIN-out"class="filters-out" value="0"> K-Dinner </button>
                    {% endif %}
                </form>
                <form method="GET">
                    <input type="hidden" name="search" value="{{ search }}">
                    <input type="hidden" name="filters" value="{{ filters }}">
                    {% if filters is defined and filters == '0010011' %}
                        <button type="submit" name="filtersJLUN" id="filtersJLUN-in" class="filters-in" value="1"> Junch </button>
                    {% else %}
                        <button type="submit" name="filtersJLUN" id="filtersJLUN-out" class="filters-out" value="0"> Junch </button>
                    {% endif %}
                </form>
                <form method="GET">
                    <input type="hidden" name="search" value="{{ search }}">
                    <button type="submit" name="filtersRESET" class="filters-out" style="background-color: var(--gray1);"> Reset </button>
                </form>
            </div>

            <!-- searh results -->
            {% if not menu|length == 0 %}
                <p margin-bottom="5px">Tap food name for details</p>
                <div class="result-con">
                        {% for entry in menu %}
                            {% if loop.first or entry[0] != menu[loop.index0 - 1][0] %}
                                {% if not loop.first %}</div>{% endif %}
                                <div class="result-item">
                                    <p><span style="font-weight: bold;"><a href="{{ url_for('details', search=entry[0]) }}"> {{ entry[0] }} </a></span></p>
                            {% endif %}
                            <p class="result-item-details-con">
                                <span style="background-color: var(--{{ result_item_colors.get(entry[1], 'lgreen1') }})"> {{ entry[1] }} </span> 
                                <span style="background-color: var(--{{ result_item_colors.get(entry[2]) }})"> {{ entry[2] }} </span> 
                                <span style="background-color: var(--{{ result_item_colors.get(entry[3]) }})"> {{ entry[3] }} </span> 
                            </p>
                        {% endfor %}
                        </div>
                </div>
            {% else %}
                <p style="font-weight: bold;"> No results found </p>
            {% endif %}
        {% endif %}
    </div>

    <!-- footer -->
    <div style="padding-top: 2%;">
        <p> Menu Tracker is a web app that displays the upcoming availabilities of foods from UT Austin Dining Halls
            and offers multiple filters to refine results. 
            <a href="{{ url_for('about')}}" class="link-button"> About</a> </p>
    </div>
</body>

</html>
